@media (max-width: 1200px) {
	.center {
		padding-right: calc(50% - 488px);
		padding-left: calc(50% - 488px);
	}

	.offer-products__content {
		justify-content: space-between;
	}

	.products__content {
		justify-content: space-between;
	}

	.footer__content {
		gap: 128px;
	}
}