@media (min-width: 1024px) {
	.chose-box {
		opacity: 0;
		visibility: hidden;
		transition: opacity .25s, visibility .25s;

		&__icon {
			& path {
				transition: fill .3s;
			}
			&:hover path {
				fill: #fff;
			}
		}
	}	

	.product__image:hover .chose-box {
		opacity: 1;
		visibility: visible;
	}

	.product__image:hover::after {
		opacity: .3;
		visibility: visible;
	}	
}

@media (max-width: 1024px) {
	.center {
		padding-left: calc(50% - 393px);
		padding-right: calc(50% - 393px);
	}
	.top__anchor-link {
		display: none;
	}
	.for {
		&__content {
			gap: 30px;
		}
		&__item {
			height: 268px;
		}
	}
	.offer-products {
		&__content {
			column-gap: 29px;
			row-gap: 38px;
		}
	}
	.products {
		&__content {
			column-gap: 29px;
			row-gap: 38px;
		}
	}
	.footer {
		&__logo {
			display: none;
		}
		&__content {
			flex: 1;
			justify-content: space-between;
			gap: 0;
		}
	}
	.cart {
		grid-template-columns: repeat(8, 1fr);
		grid-auto-flow: row;
		column-gap: 32px;
		row-gap: 64px;

		&__content {
		grid-column: span 8;
		}
	}
	.cart-form {
		grid-column: span 4;
		padding-bottom: 148px;
	}
}

@media (max-width: 833px) {
	.center {
		padding-left: calc(50% - 350px);
		padding-right: calc(50% - 350px);
	}
}
